@import "global.scss";
@import "variables.scss";

.wrapper {
   max-width: 1000px;
   height: 100vh;
   padding: 100px 0;
   margin: 0 auto;
}

.title {
   font-size: 40px;
   line-height: 40px;
   font-weight: bold;
   text-align: center;
   margin-bottom: 30px;
   color: $font-color;
}

.description {
   font-size: 16px;
   line-height: 28px;
   color: $lighten-font-color;
}

.instruction {
   display: none;
   margin-top: -40px;
   margin-bottom: 20px;
   text-align: center;
   font-size: 14px;
   line-height: 20px;
   color: $lighten-font-color;

   &--active {
      display: block;
   }
}

.sort {
   position: relative;
   margin-bottom: 50px;
   padding: 100px 0 20px;
}

.sort__list {
   display: flex;
   justify-content: space-between;
   max-width: 730px;
   margin: 0 auto;
   padding: 20px;
   border-radius: 15px;
   background-color: $bg-color;
}

.sort__item {
   width: 50px;
   height: 50px;
   text-align: center;
   font-size: 20px;
   line-height: 50px;
   border-radius: 15px;
   transition: 0.3s;
   background-color: $item-bg-color;
   color: $white-color;

   &--current {
      background-color: $main-color;
      color: $white-color;
   }

   &--stated {
      background-color: $stated-color;
      color: $white-color;
   }
}

.sort__target {
   position: absolute;
   top: 50px;
   padding: 5px 10px;
   transition: 0.3s;
   border-radius: 20px;
   background-color: $main-color;
   color: $white-color;

   &--disabled {
      display: none;
   }

   &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -35px;
      transform: translateX(-2px);
      width: 4px;
      height: 35px;
      background-color: $main-color;
   }
}

.controls {
   text-align: center;
}

.controls__btn {
   width: 250px;
   margin: 0 auto;
   padding: 12px 0;
   transition: 0.3s;
   cursor: pointer;
   outline: none;
   border: 2px solid $main-color;
   border-radius: 20px;
   background-color: transparent;
   font-size: 16px;

   &--next {
      border-color: $main-color;
      background-color: $main-color;
      color: $white-color;

      &:hover {
         background-color: rgba($main-color, 0.8);
         border-color: rgba($main-color, 0.8);
      }
   }

   &--refresh {
      margin-right: 15px;
      color: $main-color;

      &:hover {
         border-color: $main-color;
         background-color: $main-color;
         color: $white-color;
      }
   }
}

.info {
   margin-bottom: 50px;
   text-align: center;
   font-size: 20px;
   color: $lighten-font-color;
}

.info__current {
   color: $main-color;
}
